@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.footer{
    height: 180px;
    background-color: #002966;
    padding: 5px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconsArea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.linksArea{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    color: #FFF;
    font-size: 20px;
    user-select: none;
}
.icon{
    margin: 0 10px
}